<a href="https://colab.research.google.com/github/Yyyyyjkim/ML_models/blob/main/xgboost/xgboost_parameters.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import xgboost
import pandas as pd
from sklearn.datasets import load_diabetes

# prepare data

In [ ]:
data = load_diabetes()
data_df = pd.DataFrame(data['data'], columns=data['feature_names'])
data_df['target'] = data['target']

In [ ]:
data_df

,age,sex,bmi,bp,s1,s2,s3,s4,s5,s6,target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0
...,...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207,178.0
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485,104.0
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491,132.0
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930,220.0
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064,57.0

# train vs test split

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data_df[data['feature_names']], data_df['target'], test_size=0.2, random_state=0)
print(X_train.shape, X_test.shape)
print(y_train.shape, y_test.shape)

(353, 10) (89, 10)
(353,) (89,)

# tree_method

- 일반적으로 exact > approx > hist 순으로 속도가 빨라짐

In [ ]:
import time
from sklearn.metrics import mean_squared_error

In [ ]:
start = time.time()
model = xgboost.XGBRegressor(n_estimators=1000, tree_method='exact')
model.fit(X_train, y_train)
end = time.time()

print(f"time: {end-start:.2f} sec")

pred = model.predict(X_test)
print(f"MSE : {mean_squared_error(y_test, pred)}")

[04:45:58] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
time: 0.33 sec
MSE : 4427.403601509003

In [ ]:
start = time.time()
model = xgboost.XGBRegressor(n_estimators=1000, tree_method='approx')
model.fit(X_train, y_train)
end = time.time()

print(f"time: {end-start:.2f} sec")

pred = model.predict(X_test)
print(f"MSE : {mean_squared_error(y_test, pred)}")

[04:45:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
time: 0.52 sec
MSE : 4652.422696354632

In [ ]:
start = time.time()
model = xgboost.XGBRegressor(n_estimators=1000, tree_method='hist')
model.fit(X_train, y_train)
end = time.time()

print(f"time: {end-start:.2f} sec")

pred = model.predict(X_test)
print(f"MSE : {mean_squared_error(y_test, pred)}")

[04:45:59] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.
time: 0.47 sec
MSE : 4494.4174075749015